@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
  font-family: 'Inter', sans-serif;
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.main {
  margin: 10px;
}

.header {
  background-color: rgb(114, 92, 252);
  display: flex;
}
.main-index {
  display: flex;
  height: 100%;
  padding: 16px;
}
.half {
  width: 50vw;
}

.add-products {
  padding-right: 36px;
  flex-direction: column;
  display: flex;
  border-right: 0.1vw solid gray;
  height: 80vh;
}

.info-products {
  padding: 16px;
}
.amount-tax-price {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
  margin-bottom: 16px;
  flex-wrap: wrap;
}

.secundary-button {
  display: block;
  width: 100%;
}

.finish-add {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 1em;
  margin-top: auto;
}
.total-tax {
  margin-top: auto;
  display: flex;
  padding: 3%;
  flex-direction: column;
}

h1,
h3 {
  margin-left: 12px;
}

ul {
  display: flex;
  list-style-type: none;
  padding: 10px;
}

li {
  padding: 10px;
  color: black;
}

a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}
button, #buttonCreateProduct {
  background-color: rgb(114, 92, 252);
  border: none;
  border-radius: 6px;
  padding: 16px;
  font-weight: bolder;
  cursor: pointer;
}

.primary-button {
  background-color: gray;
}

.finish-button,
.primary-button {
  width: 160px;
}

input,
select,
option {
  font-weight: bolder;
  padding: 12px;
  border: 0.1vw solid rgba(128, 128, 128, 0.582);
  background-color: rgba(128, 128, 128, 0.075);
  border-radius: 6px;
}

#final-tax,
#total {
  border: none;
}

table {
  border-collapse: collapse;
  width: 100%;
  padding: 12px;
  justify-content: center; 
}

th,
td {
  border-bottom: 0.1vw solid gray;
  text-align: left;
  padding: 4px;
  border-right: 0.1vw solid gray;
}

th:last-child,
td:last-child {
  border-right: none;
}

.inputs-categories {
  padding: 24px;
  display: flex;
  justify-content: center;
  gap: 15vw;
}

.inputs-products {
  padding: 24px;
  display: flex;
  justify-content: space-evenly;
}

#nameProductsProd,
#amountProducts,
#unitPriceProducts,
#categoryProducts {
  width: 18%;
}

form{
  display: flex;
  gap: 1em;
}

.tax-paid {
  border-bottom: 0.1vw solid gray;
  height: 8vh;
  width: 500px;
  display: flex;
  justify-content: end;
}

.total-info {
  display: flex;
  flex-direction: column;
  background-color: rgba(128, 128, 128, 0.205);
  padding: 32px;
  border-radius: 8px;
  align-items: flex-end;
  margin-right: 0;
}

img {
max-width: 100%;
height: auto;
}